a {
  color:magenta
}

p {
  color:cyan
}

h1 {
  color:#00adff
}

body {
  background-color:#00070ed4;
  font-family:Arial
}

.LR {
  color:red
}

.OR {
  color:orange
}

.size {
  color:cyan
}